// import only the required bootstrap components
@import "./node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// global.scss
$primary-color: white;
$secondary-color: #dae0e0;
$hover-color: #919191;

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

p {
    color: black;
}

html {
    // overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.background-section {
    // positioning + area
    position: relative;
    height: 100vh;

    // background
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.15)), url('/background.jpg'); /* Adjust path as needed */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: darken;
    background-repeat: no-repeat;

    // display + elements control
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    // z-index: -1;
}

.center-content {
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $primary-color;
}

h1 {
    // width: 75%;
    color: $primary-color;
    font-size: 6vh;
    font-weight: 400;
    text-align: center;
}

h2 {
    // width: 66%;
    color: $primary-color;
    font-size: 4vh;
    font-weight: 300;
    text-align: center;
}

h3, h4, h5, h6 {
    // width: 50%;
    color: $secondary-color;
    font-size: 3vh;
    font-weight: 300;
    text-align: center;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}  



.bobble {
    animation: bobble 1.5s infinite ease-in-out;
}

@keyframes bobble {
    0%, 100% {
        transform: scale(1); /* Default size */
    }
    50% {
        transform: scale(1.1); /* Enlarged size at the peak of the bobble */
    }
    75% {
        transform: scale(0.9); /* Slight shrink before returning to normal */
    }
}

section {
    view-timeline-name: fadeTimeline;
}

/* Media Queries */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    .container {
        padding: 0 1rem;
    }
}
