.fade-in-up {
    opacity: 0;
    transform: translateY(12vh);
    visibility: hidden;
    transition: opacity 1.2s ease-out, transform 1.0s ease-out;
    
    &.show {
        opacity: 1;
        transform: translateY(0px);
        visibility: visible;
        transition-delay: 0s;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
